@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap");

:root {
  --yellow: #f9ca24;
  --bodyColor: #111;
  --textColor: #fff;
  --pColor: #eee;
  --btnBColor: #333;
  --btnTColor: #fff;
  --headerColor: #1a1a1a;
}

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

*::selection {
  background: var(--yellow);
  color: var(--btnBColor);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 1.4rem;
}

html::-webkit-scrollbar-track {
  background: #222;
}

html::-webkit-scrollbar-thumb {
  background: var(--yellow);
}

body {
  background: var(--bodyColor);
  overflow-x: hidden;
  padding-left: 35rem;
}

section {
  min-height: 100vh;
  padding: 1rem;
}

section.education {
  min-height: 70vh;
}

.btn {
  padding: 0.7rem 3rem;
  background: var(--btnBColor);
  color: var(--btnTColor);
  cursor: pointer;
  margin-top: 1rem;
  font-size: 2rem;
  border-radius: 5rem;
  margin-right: 10px;
}

.btn i {
  padding: 0 0.5rem;
  font-size: 1.8rem;
}

.btn:hover {
  background: var(--yellow);
}

.heading {
  text-align: center;
  margin: 0 6rem;
  font-size: 5rem;
  padding: 1rem;
  border-bottom: 0.1rem solid var(--textColor);
  color: var(--textColor);
}

.heading span {
  color: var(--yellow);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 100%;
  width: 35rem;
  background: var(--headerColor);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  text-align: center;
}

header .user img {
  height: 17rem;
  width: 17rem;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
  border: 0.7rem solid var(--yellow);
  margin-top: 40px;
}

header .user .name {
  font-size: 3.5rem;
  color: var(--textColor);
}

header .user .post {
  font-size: 2rem;
  color: var(--pColor);
}

header .navbar {
  width: 100%;
}

header .navbar ul {
  list-style: none;
  padding: 1rem 3rem;
}

header .navbar ul li a {
  display: block;
  padding: 1rem;
  margin: 1.5rem 0;
  background: var(--btnBColor);
  color: var(--textColor);
  font-size: 2rem;
  border-radius: 5rem;
}

header .navbar ul li a:hover {
  background: var(--yellow);
}

.social {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.social a {
  color: var(--btnBColor);
  font-size: 26px;
}

.social a:hover {
  color: var(--yellow);
}

#menubar {
  position: fixed;
  top: 2rem;
  right: 2rem;
  background: var(--btnBColor);
  color: var(--textColor);
  cursor: pointer;
  font-size: 2.5rem;
  padding: 1rem 1.5rem;
  z-index: 1000;
  display: none;
}

.home {
  display: flex;
  justify-content: center;
  flex-flow: column;
  padding: 0 15rem;
}

.home h3 {
  font-size: 2.5rem;
  color: var(--textColor);
}

.home h1 {
  font-size: 5rem;
  color: var(--textColor);
}

.home h1 span {
  color: var(--yellow);
}

.home p {
  font-size: 2rem;
  color: var(--pColor);
  padding: 1rem 0;
}

.about .row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 15rem 0;
}

.about .row .info {
  flex: 1 1 48rem;
  padding: 2rem 1rem;
  padding-left: 6rem;
}

.about .row .info h3 {
  font-size: 2rem;
  color: var(--yellow);
  padding: 1rem 0;
  font-weight: normal;
}

.about .row .info h3 span {
  color: var(--pColor);
  padding: 0 0.5rem;
}

.about .row .counter {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex: 1 1 48rem;
}

.about .row .counter .box {
  width: 15rem;
  background: #222;
  text-align: center;
  padding: 2rem;
  margin: 2rem;
}

.about .row .counter .box span {
  font-size: 4rem;
  color: var(--yellow);
}

.about .row .counter .box h3 {
  font-size: 2rem;
  color: var(--textColor);
}

.education .box-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 2rem;
  padding-left: 3rem;
  margin-top: 110px;
}

.education .box-container .box {
  width: 27rem;
  margin: 4rem 1rem;
  padding-left: 2rem;
  border-left: 0.2rem solid var(--textColor);
  position: relative;
}

.education .box-container .box span {
  font-size: 1.3rem;
  background: #222;
  color: var(--textColor);
  border-radius: 5rem;
  padding: 0.5rem 2.5rem;
}

.education .box-container .box h3 {
  font-size: 2rem;
  color: var(--textColor);
  padding-top: 1.5rem;
}

.education .box-container .box p {
  font-size: 1.6rem;
  color: var(--pColor);
  padding: 1rem 0;
}

.education .box-container .box i {
  position: absolute;
  top: -1.5rem;
  left: -2.5rem;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  line-height: 5rem;
  text-align: center;
  font-size: 2rem;
  color: var(--textColor);
  background: var(--yellow);
}

.portfolio .box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem;
}

.portfolio .box-container .box {
  height: 20rem;
  width: 26rem;
  border-radius: 1rem;
  margin: 2rem;
  overflow: hidden;

  position: relative;
}

.portfolio .box-container .box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.portfolio .box-container .box:hover img {
  transform: scale(1.2);
}

.caption {
  position: absolute;
  left: 0;
  padding: 20px;
  background-color: white;
  width: 100%;
  transition: 0.4s;
  bottom: -100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.caption a {
  background-color: transparent;
  box-shadow: none;
  border: 3px solid var(--yellow);
  color: black;
  font-size: 18px;
  font-weight: bold;
  padding: 3px;
  cursor: pointer;
  width: fit-content;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin-top: 5px;
  box-sizing: border-box;
}

.caption a:hover {
  background-color: var(--yellow);
  box-shadow: inset 8px 8px 20px orange;
  color: white;
}

.caption p {
  font-size: 14px;
  padding: 10px 20px;
  font-weight: bold;
  width: 100%;
  text-align: center;
}

.box:hover .caption {
  bottom: 0;
}

.contact .row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.contact .row .content {
  flex: 1 1 30rem;
  padding: 4rem;
  padding-bottom: 0;
}

.contact .row form {
  flex: 1 1 45rem;
  padding: 2rem;
  margin: 2rem;
  margin-bottom: 4rem;
}

.contact .row form .box {
  padding: 1.5rem;
  margin: 1rem 0;
  background: var(--btnBColor);
  color: var(--textColor);
  text-transform: none;
  font-size: 1.7rem;
  width: 100%;
}

.contact .row form .box::placeholder {
  text-transform: capitalize;
}

.contact .row form .message {
  height: 15rem;
  resize: none;
}

.contact .row .content .title {
  text-transform: uppercase;
  color: var(--textColor);
  font-size: 3rem;
  padding-bottom: 2rem;
}

.contact .row .content .info h3 {
  display: flex;
  align-items: center;
  font-size: 2rem;
  color: var(--pColor);
  padding: 1rem 0;
  font-weight: normal;
  text-transform: none;
}

.contact .row .content .info h3 i {
  padding-right: 1rem;
  color: var(--yellow);
}

.top {
  position: fixed;
  bottom: 7.5rem;
  right: 2rem;
  z-index: 100;
  display: none;
}

/* media queries  */

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }

  .home {
    padding: 1rem 4rem;
  }
}

@media (max-width: 991px) {
  header {
    left: -120%;
  }

  #menubar {
    display: block;
  }

  header.toggle {
    left: 0%;
  }

  body {
    padding: 0;
  }

  .portfolio .box-container .box {
    width: 45%;
    height: 100%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 420px) {
  header {
    width: 100vw;
  }

  .heading {
    margin: 0 3rem;
  }

  .about .row .counter .box {
    width: 100%;
  }

  .education .box-container .box {
    width: 100%;
  }

  .portfolio .box-container .box {
    width: 100%;
  }

  .contact .row form {
    margin: 3rem 0;
  }
}

/* <===============================================> */
/* DARK MODE */

body.active {
  background-color: var(--textColor);
}

.dark-button {
  position: absolute;
  right: 150px;
  top: 40px;
}

#toggle {
  position: relative;
  display: block;
  width: 100px;
  height: 50px;
  border-radius: 50px;
  cursor: pointer;
  background-color: #222;
  transition: 0.5s;
  box-shadow: inset 0 8px 60px rgba(0, 0, 0, 0.1),
    inset 0 8px 8px rgba(0, 0, 0, 0.1), inset 0 -4px 4px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

#toggle.active {
  background-color: #eee;
  box-shadow: inset 0 2px 100px rgba(0, 0, 0, 0.1),
    inset 0 2px 8px rgba(0, 0, 0, 0.1), inset 0 -4px 8px rgba(0, 0, 0, 0.05);
}

#toggle .indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  background: linear-gradient(to bottom, #444, #222);
  border-radius: 50%;
  transform: scale(0.9);
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.5),
    inset 0 4px 4px rgba(255, 255, 255, 0.2),
    inset 0 -4px 4px rgba(255, 255, 255, 0.2);
  transition: 0.5s;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

#toggle.active .indicator {
  left: 50px;
  background: linear-gradient(to bottom, #eaeaea, #f7f7f7);
  box-shadow: 0 8px 60px rgba(0, 0, 0, 0.1),
    inset 0 4px 4px rgba(255, 255, 255, 1),
    inset 0 -4px 4px rgba(255, 255, 255, 1);
}

@media (max-width: 888px) {
  .dark-button {
    right: 30px;
  }
}

@media (max-width: 760px) {
  .dark-button {
    right: 30px;
  }

  #toggle {
    margin: 30px !important;
    width: 70px;
    height: 35px;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
  }

  #toggle .indicator {
    width: 35px;
    height: 35px;
  }
}

@media (max-width: 575px) {
  .dark-button {
    right: 10px;
    top: 70px;
  }
}

@media (max-width: 454px) {
  .dark-button {
    right: 0px;
    top: 70px;
  }
}
@media (max-width: 444px) {
  .dark-button {
    right: 10px;
    top: 50px;
  }
}
@media (max-width: 380px) {
  .dark-button {
    right: 10px;
    top: 25px;
  }
}
